<!DOCTYPE html>
<html>

<head>
    <style>
        button {
            background-color: green;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            width: 300px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h2 align="Center">System Control Page</h2>
    <br>
    <br>
    <div class="form-group">
        <p align="center"><a href=cReview><button>Continuous Review System</button></a></p>
    </div>
    <div class="form-group">
        <p align="center"><a href=pReview><button>Periodic Review System</button></a></p>
    </div>

</body>

</html>


<!-- <p align="center"><a href= cReview><button class='btn btn-primary' style="height:75px;width:150px">Continuous Review System</button></a></p>
<p align="center"><a href= pReview><button class='btn btn-primary' style="height:75px;width:150px">Periodic Review System</button></a></p> -->